button {
  text-align: center;
  padding: 15px;

  border-radius: 50%;
}

.active-like {
  background-color: green;
}

.active-dislike {
  background-color: red;
}

.inactive {
  background-color: grey;
}
