.LikeButton {
  align-items: right;
  padding: 15px;
  border-radius: 50%;
  display: flex;
}

.active-like {
  background-color: green;
}

.active-dislike {
  background-color: red;
}

.inactive {
  background-color: grey;
}
