button {
    color: gray;
    text-align: center;
    padding: 15px;
    display: inline-block;
    border-radius: 50%;

}

.active-like{
    background-color: green;
}

.active-dislike{
    background-color: red;
}

.inactive{
    background-color: grey;
}